{% include "/homev2/theme/header.html" %}
<main id="content">
		<div id="page-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Affiliate</li>
						  </ol>
						</nav>
						<h2 class="page-title">
							AFFILIATE
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div id="page-content">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="entry-content">
							<h3 class="page-content-title">
								AFFILIATE
							</h3>
							<hr>
							<p class="page-content-description">
								<div class="description">									
								</div>
								<div class="table-responsive">
									
									<table class="table table-bordered table-striped binary table-dark">
									  <thead>
									    <tr>
									      <th scope="col">RANKING</th>
									      <th scope="col">CONDITION</th>
									      <th scope="col">DIRECT COMMISSION</th>
									      <th scope="col">ENTERPRISE COMMISSION</th>
									      <th scope="col">LIFE STYLE</th>
									    </tr>
									  </thead>
									  <tbody>
									  	<tr>
									      <th scope="row">MEMBER</th>
									      <td>1F1 <br> Team Volume > 100 USD</td>
									      <td>7% F1</td>
									      <td> - </td>
									      <td> - </td>
									    </tr>
									    <tr>
									      <th scope="row">STARTER</th>
									      <td>2F1 <br> Team Volume > 10,000 USD</td>
									      <td>7% F1 + 3% F2</td>
									      <td>0,5% / Team Volume</td>
									     
									    </tr>
									    <tr>
									      <th scope="row">GOLD</th>
									      <td>3F1 <br> Team Volume > 50,000 USD</td>
									      <td>7% F1 + 3% F2 + 1,5% F3</td>
									      <td>1% / Team Volume</td>
									       <td>Ipad Pro</td>
									    </tr>
									    <tr>
									      <th scope="row">PLATINUM</th>
									      <td>2F1 GOLD <br> Team Volume > 150,000 USD</td>
									      <td>7% F1 + 3% F2 + 1,5% F3 + 0,75% F4</td>
									      <td>1,6% / Team Volume</td>
									      <td>Macbook </td>
									    </tr>
									     <tr>
									      <th scope="row">RUBY</th>
									      <td>1F1 PLATINUM + 1F1 GOLD + 1F1 STARTER<br> Team Volume > 350,000 USD</td>
									      <td>7% F1 + 3% F2 + 1,5% F3 + 0,75% F4 + 0,75% F5</td>
									      <td>2,2% / Team Volume</td>
									      <td>Ruby Ring or Swiss Watch </td>
									    </tr>
									     <tr>
									      <th scope="row">DIAMOND</th>
									      <td>2F1 PLATINUM + 1F1 RUBY + 1F1 GOLD <br> Team Volume > 1,000,000 USD</td>
									      <td>7% F1 + 3% F2 + 1,5% F3 + 0,75% F4 + 0,75% F5 + 0,25% F6</td>
									      <td>2,8% / Team Volume</td>
									      <td>Mazda 2 </td>
									    </tr>
									    <tr>
									      <th scope="row">BLUE DIAMOND</th>
									      <td>1F1 RUBY + 1F1 DIAMOND + 3F1 PLATINUM<br> Team Volume > 2,500,000 USD</td>
									      <td>7% F1 + 3% F2 + 1,5% F3 + 0,75% F4 + 0,75% F5 + 0,25% F6 + 0,25% F7</td>
									      <td>3,5% / Team Volume</td>
									      <td>Mercedes car + Diamond Ring</td>
									    </tr>
									    <tr>
									      <th scope="row">AMBASSADOR</th>
									      <td>2F1 RUBY + 1F1 DIAMOND + 1F1 BLUE DIAMOND<br> Team Volume > 7,000,000 USD</td>
									      <td>7% F1 + 3% F2 + 1,5% F3 + 0,75% F4 + 0,75% F5 + 0,25% F6 + 0,25% F7 + 0,125% F8 + 0,125% F9</td>
									      <td>4% / Team Volume</td>
									      <td>Porche car + 0.5% Global Sale</td>
									    </tr>
									    
									  </tbody>
									</table>
								</div>							
							</p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</main>
	{% include "/homev2/theme/footer.html" %}