{% include "/homev2/theme/header.html" %}
	<main id="content">
		<div id="page-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">EXCHANGE</li>
						  </ol>
						</nav>
						<h2 class="page-title">
							EXCHANGE
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div id="page-content">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="entry-content">
							<h3 class="page-content-title">
								COMING SOON
							</h3>
							<hr>
						
						</div>	
					</div>
				</div>
			</div>
		</div>
	</main>

{% include "/homev2/theme/footer.html" %}