{% include "/homev2/theme/header.html" %}
	<main id="content">
		<div id="page-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">ICO</li>
						  </ol>
						</nav>
						<h2 class="page-title">
							ICO
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div id="page-content">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="entry-content">
							<h3 class="page-content-title">
								ICO
							</h3>
							<hr>
							<p class="page-content-description">
								<div class="description">
									ICO is a way which enables Future SVA to fund our activities including
									building and developing our core Team, the ecosystem for our app, and
									running marketing campaigns so that Future SVA brand-awareness
									and Future SVA reputation would be successfully built.<br>
									The sooner the investors buy Future SVA, the higher earing potentials
									they would gain, both in the short term and in the long term.
									In the short term, the price would increase rapidly right after ICO, and
									you could earn money through Trading, Lending, Staking or Mining
									program.<br>
									There are several ways to earn profit with Future SVA, and buying ICO
									coin at the best price enables you to optimize your investment.
									Therefore, you should not miss any latest information about ICO
									calendar, so that you can be among the first individuals who could buy
									the coin with the best price.<br>
									The total quantity of SVA coin: 40 million<br>
										&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp; ICO coin: 6 million <br>
										&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp; Time frame for ICO December 16, 2017 - December 31, 2017 <br>
									To update the latest information about ICO, visit our website at
									smartfva.co
								</div>
									<img style="width: 100%" src="/static/frontend/images/ico.png">
							</p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</main>

{% include "/homev2/theme/footer.html" %}