{% include "/homev2/theme/header.html" %}
<main id="main">
	<div id="sva-demo">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="section-title">
						SmartFVA Voice Assistant App<br>SVA New Space For Mordern Life
					</h1>
					<hr></hr>
					<p>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/CsJ467ru7GY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="sva-what-is" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="/invest/static/frontend/images/what-is-sva.jpg" >
				</div>
				<div class="col-md-6">
					<h1 class="section-title">
						What is SVA?
					</h1>
					<hr></hr>
					<p class="what-is-intro">
						A breakthrough digital solution related to money transaction. Future SVA is a kind of digital cash that you can use to make your payment or any money transaction whenever and wherever you travel. By using Future SVA, your e-commerce business, private payments, your online business, your retail store can speed up the money transaction with both clients and suppliers, which promises to open avenues to saving you money and even boosting your business growth. Trust Future SVA and start using our secure open-source platform hosted by thousands of users around the world right now.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="sva-staking" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1 class="section-title">
						Specifications
					</h1>
					<hr></hr>
					<ul class="staking-intro">
						<li><span class="ion ion-flag"></span>Name: SmartFVA</li>
						<li><span class="ion ion-flag"></span>Ticker: SVA</li>
						<li><span class="ion ion-flag"></span>Algorithm: Scrypt </li>
						<li><span class="ion ion-flag"></span>Max Supply: 40,000,000 SVA</li>
						<li><span class="ion ion-flag"></span>Pre-mine: 12,000,000 SVA</li>
						<li><span class="ion ion-flag"></span>Staking: 10% Year</li>
						<li><span class="ion ion-flag"></span>PoW Reward: 50</li>
						<li><span class="ion ion-flag"></span>Mining: CPU/GPU</li>
					</ul>
				</div>
				<div class="col-md-5 text-center">
					<img src="/invest/static/frontend/images/smartfvaearth.png">
				</div>
			</div>
		</div>
	</div>
	<div id="ecosystem">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 text-right">
					<div class="single_ecosystem_deatels">
						<i class="ion ion-card"></i>
						<h5>Debit Card</h5>
						<p>
							Using Debit Card of Future SVA is the most simple and convenient way to make your payments, do money transaction. We, with our partners, will provide you a Debit Card that can use anywhere, anytime, all over the world. You can also use it to withdraw or transfer money via an ATM machine.
						</p>
					</div>					
				</div>
				<div class="col-lg-4">
					<div id="ecosystem-logo">
						
					</div>
				</div>
				<div class="col-lg-4 text-left">
					<div class="single_ecosystem_deatels">
						<i class="ion-android-playstore"></i>
						<h5>Mobile App</h5>
						<p>
							With your smart phones, you just need to download Future SVA mobile app, and start transferring money and making any payments with your clients, your partners, your suppliers… By using Future SVA app, there is no need to fill tons of annoying forms which are oppressively complex, time-consuming and may result in delay in getting business done.
						</p>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div id="sva-faq" class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="section-title text-center">
						How to use SVA?
					</h1>
					<hr></hr>
					<div id="accordion" role="tablist">
					  <div class="card">
					    <div class="card-header" role="tab" id="headingOne">
					      <h5 class="mb-0">
					        <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
					          How to earn profit with Trading?
					        </a>
					      </h5>
					    </div>

					    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
					      <div class="card-body">
					        SVA Exchange is always available to meet your trading demand, you
							can trade SVA on SVA Exchange or other exchanges, especially with
							our partners.
					      </div>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-header" role="tab" id="headingTwo">
					      <h5 class="mb-0">
					        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
					          How to earn profit with Investment?
					        </a>
					      </h5>
					    </div>
					    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
					      <div class="card-body">
					        Investment pack would guarantee your daily profit, the monthly profit can
							be up to 17% and the annual profit is extremely significant, which would
							guarantee you a considerable increase in investment assets in the long
							run.
							For most people, securing a profit up to 17% monthly is not easy at all.
							So Future SVA Lending program is the gateway to your financial
							success.
					      </div>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-header" role="tab" id="headingThree">
					      <h5 class="mb-0">
					        <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
					          How to earn profit with Staking?
					        </a>
					      </h5>
					    </div>
					    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
					      <div class="card-body">
					        Why can you earn profit from Staking? As Future SVA block chain
							technology will give you bonus when you hold your coin and it will be
							used to stake. It is a way to confirm transaction for the system, the more
							you keep Future SVA, the more bonus you earn from Staking. This
							means that if you just hold your coin in your wallet over time, and your
							coins are not used for Staking, you could miss substantial benefit. So if
							you have Future SVA that you are not involved in lending or trading then
							you should be involved in staking. With Future SVA, you are always
							guaranteed to earn profit in one way or another. We offer a specific
							construction of staking on our website, so if you are really interested in
							Staking, please visit our website for more details.
					      </div>
					    </div>
					  </div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</main>

{% include "/homev2/theme/footer.html" %}