{% include "/homev2/theme/header.html" %}
	<main id="content">
		<div id="page-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">AC-INVESTMENT</li>
						  </ol>
						</nav>
						<h2 class="page-title">
							AC-INVESTMENT
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div id="page-content">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="entry-content">
							<h3 class="page-content-title">
								AC-INVESTMENT
							</h3>
							<hr>
							<p class="page-content-description">
								<div class="description">
								
								</div>
								<div class="table-responsive">
									<table class="table table-bordered table-striped">
									  <thead>
									    <tr>
									      <th scope="col">INVEST AMOUNT</th>
									      <th scope="col">INTEREST</th>
									     <th scope="col">MAX OUT</th>
									     <th scope="col">SHARING BONUS</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <th scope="row">$100 - $999</th>
									      <td>10% per month</td>
									    	<td>300%</td>
									    	<td>6%</td>
									    </tr>
									    <tr>
									      <th scope="row">$1,000 - $4,999</th>
									      <td>12% per month</td>
									     	<td>300%</td>
									     	<td>6%</td>
									    </tr>
									    <tr>
									      <th scope="row">$5,000 - $9,999</th>
									      <td>13% per month <b class="text-danger">(+1%/Month)</b></td>
									      <td>300%</td>
									      <td>6%</td>
									    </tr>
									    <tr>
									      <th scope="row">$10,000 - $19,999</th>
									      <td>14% per month <b class="text-danger">(+2%/Month)</b></td>
									      <td>300%</td>
									      <td>6%</td>
									    </tr>
									    <tr>
									      <th scope="row">$20,000 - $49,999</th>
									      <td>16% per month <b class="text-danger">(+3%/Month)</b></td>
									      <td>300%</td>
									      <td>6%</td>
									    </tr>
									    <tr>
									      <th scope="row">$50,000 - $100,000</th>
									      <td>17% per month <b class="text-danger">(+3%/Month)</b></td>
									    <td>300%</td>
									    <td>6%</td>
									    </tr>
									  </tbody>
									</table>
								</div>							
							</p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</main>

{% include "/homev2/theme/footer.html" %}