{% include "/homev2/theme/header.html" %}
	<main id="content">
		<div id="page-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Roadmap</li>
						  </ol>
						</nav>
						<h2 class="page-title">
							Roadmap
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div id="page-content">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="entry-content">
							<h3 class="page-content-title">
								SVA ROADMAP
							</h3>
							<hr>
							<p class="page-content-description">
							
<div class="container-fluid">
    <div class="row example-basic">
    
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <ul class="timeline">
               
                
                <li class="timeline-item">
                   	<div class="timeline-info">
                        <span>MARCH, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        
                        <p>
                        	1. Change the policy and new strategies accordingly and develop the community. <br>
2. Launch APP version 1.0. <br>
3. Put the SVA on the international Exchange at the end of the month. <br>
4. Implement Bounty Strategy for 5 countries. <br>
5. Target App users: 50.000 <br>
6. Target SVA price: 2-4 USD 
                        </p>
                    </div>
                </li>

               
                <li class="timeline-item">
                   <div class="timeline-info">
                        <span>APRIL, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        
                        <p>
1. Upgrade website features. <br>
2. App with Vietnamese language. <br>
3. Develop international markets. <br>
4. Open more offices in USA, Singapore. <br>
5. Sell APP Version 1.0 for English speaking countries and Vietnam. <br>
6. Target App users: 100.000 users. <br>
7. Target SVA price: 4-6 USD.
                        </p>
                    </div>
                </li>
            
                <li class="timeline-item">
                   <div class="timeline-info">
                        <span>MAY, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
1. List SVA on coinmarketcap.com <br>
2. Wallet on android. <br>
3. Launch APP version 2.0 with 3 languages: English, Chinese and Vietnamsese. <br>
4. Open Chinese speaking markets. <br>
5. More external exchanges. <br>
6. Target App users: 500.000 users. <br>
7. Target SVA price: 6-8 USD. 
                        </p>
                    </div>
                </li>
              
                <li class="timeline-item">
                   <div class="timeline-info">
                        <span>QUARTER 3, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
1. Start eco-system building strategies. <br>
2. Wallet on IOS. <br>
3. Develop APP version 3.0 with 05 languages updated including French, Thai language. <br>
4. Introduce new APP with more applications applied in modern life for global SVA community. <br>
5. Target App users: 1.500.000 users. <br>
6. Target SVA price: 15-25 USD.
                        </p>
                    </div>
                </li>
           
                <li class="timeline-item">
                   <div class="timeline-info">
                        <span>QUARTER 4, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
1. Develop Debit card on Master card infrastructure. <br>
2. Develop APP version 3.0 with 08 languages updated including Japansese, Korean and
Russian language. <br>
3. Develop Apps on Restaurant, Hotels, Flight ticket and tour globally. <br>
4. New ICO for new projects bought by SVA. <br>
5. Target App users: 5000.000 users. <br>
6. Target SVA price: 35-50 USD.
                        </p>
                    </div>
                </li>
          
                <li class="timeline-item">
                   <div class="timeline-info">
                        <span>QUARTER 1, 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
1. Launching Debit card. <br>
2. Develop SVA international Exchange. <br>
3. Develop more eco-system using SVA coin. <br>
4. Stop affiliate and investment program on SVA coin. <br>
5. List SVA coin on big exchanges like Bitrex, Binance, etc., <br>
6. Target App users: 8000.000 users. <br>
7. Target SVA price: 50-60 USD.
                        </p>
                    </div>
                </li>
         
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>QUARTER 2, 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
1. Develop ATM &amp; Debit card for more countries. <br>
2. Improve SVA international Exchange. <br>
3. Target APP users :10.000.000 users. <br>
4. Target SVA price: 80-100 USD.
                        </p>
                    </div>
                </li>
              
                <li class="timeline-item">
                   <div class="timeline-info">
                        <span>QUARTER 3&4, 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
1. Continue eco-system development with APPs. <br>
2. Continue ATM &amp; Debit card development. <br>
3. Target APP users 15.000.000 users. <br>
4. Target SVA price: 150-200 USD. 
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
   
</div>
								
						    </p>    
					    </div>    
					</div>
				</div>
			</div>
		</div>
	</main>

{% include "/homev2/theme/footer.html" %}