#footer {
	background: #37b5a3; 
	padding: 17px 0px 0px; 
	color: #fff; 
	text-align: center; 
}
footer.page-footer a {
    color: #fff;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.btn-social-all {
    background-color: #436281;
}

.btn-floating {
    z-index: 1;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    background-color: #065f52;
    -webkit-transition: .3s;
    transition: .3s;
        -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.btn-social-all i.fa {
    margin-top: 0;
}
.btn-floating i {
    width: inherit;
    font-size: 20px;
    line-height: 47px;
    text-align: center;
    color: #fff;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,.6);
    background-color: rgba(0,0,0,.2);
    text-align: center;
    font-size: 14px;
}

.pricing-table-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.6em;
	color: #FFF;
	margin-top: 15px;
	text-align: left;
	margin-bottom: 25px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table-title a {
	font-size: 0.6em;
}

.clearfix:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	clear: both;
}
/** ========================
 * Contenedor
 ============================*/
.pricing-wrapper {
	width: 1000px;
	margin: 40px auto 0;
}

.pricing-table {
	margin: 0 10px;
	text-align: center;
	width: 230px;
	float: left;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.pricing-table:hover {
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
	-o-transform: scale(1.06);
	transform: scale(1.06);
}

.pricing-title {
	color: #FFF;
	background: #e95846;
	padding: 20px 0;
	font-size: 1.5em;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	margin: 0;
}

.pricing-table.recommended .pricing-title {
	background: #2db3cb;
}

.pricing-table.recommended .pricing-action {
	background: #2db3cb;
}

.pricing-table .price {
	background: #403e3d;
	font-size: 1 em;
	font-weight: 700;
	padding: 20px 0;
	color :#ccc;
}

.pricing-table .price sup {
	font-size: 0.4em;
	position: relative;
	left: 5px;
}

.table-list {
	background: #FFF;
	color: #403d3a;
}

.table-list li {
	font-size: 1em;
	font-weight: 700;
	padding: 12px 8px;
	text-align:left;padding-left:20px;
	min-height:65px;
}


.table-list li span {
	font-weight: 400;
}

.table-list li span.unlimited {
	color: #FFF;
	background: #e95846;
	font-size: 0.9em;
	padding: 5px 7px;
	display: inline-block;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	border-radius: 38px;
}


.table-list li:nth-child(2n) {
	background: #F0F0F0;
}

.table-buy {
	background: #FFF;
	padding: 15px;
	text-align: left;
	overflow: hidden;
}

.table-buy p {
	float: left;
	color: #37353a;
	font-weight: 700;
	font-size: 2.4em;
}

.table-buy p sup {
	font-size: 0.5em;
	position: relative;
	left: 5px;
}

.table-buy .pricing-action {
	float: right;
	color: #FFF;
	background: #e95846;
	padding: 10px 16px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-weight: 700;
	font-size: 1.4em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.table-buy .pricing-action:hover {
	background: #cf4f3e;
}

.recommended .table-buy .pricing-action:hover {
	background: #228799;	
}

/** ================
 * Responsive
 ===================*/
 @media only screen and (min-width: 768px) and (max-width: 959px) {
 	.pricing-wrapper {
 		width: 100%;
		margin: 0 auto;
 	}

 	.pricing-table {
 		width: 350px;
 	}

	.table-list li {
		font-size: 1.1em;
	}

 }

 @media only screen and (max-width: 767px) {
 	.pricing-wrapper {
 		width: 420px;
 	}

 	.pricing-table {
 		display: block;
 		float: none;
 		margin: 0 0 20px 0;
 		width: 100%;
 	}
 }

@media only screen and (max-width: 479px) {
	.pricing-wrapper {
		width: 300px;
	}
} 	

.hover-table-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	 -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  max-width:1000px;
  margin:0 auto;
}
.listing-item {
   display: block;
   width:24%;
	margin-bottom:20px;
    float: left;
    background: #fff;
    border-radius:10px;
    z-index:0;
	cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
	    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	margin:3px;
}
.listing-item:hover,  .listing-item.active{
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
    transform: scale(1.03);
		-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
	z-index:2;

}
.listing-item .listing{
    padding:20px;
    position:relative;	
}
.listing-item .listing:before{
    content:"";
	position:absolute;
	top:-15px;
	left:-o-calc(50% - 15px);
	left:-moz-calc(50% - 15px);
	left:-webkit-calc(50% - 15px);
	left:calc(50% - 15px);
	border-bottom:20px solid #fff;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
}
	figure.image img {
		width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
figure.image {
    position: relative;
	margin: 0;
    padding: 0;
}
figure.image figcaption {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    bottom: 4px;
	background: rgba(0,0,0,0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
figcaption .caption{
	position:relative;
	top:43%;
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);

}
figcaption h1{
  	color:#ffd800!important;
	font-weight:bold!important;
  	font-size:24px!important;
  text-transform: uppercase!important;
}
figcaption p{
  color:white;
  font-size:12px;
}
.listing h4 {
   min-height:30px;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}
.listing h4:not(:last-child){
   border-bottom: 1px solid #ccc;
}
.listing-item:hover figure.image figcaption{
       background: rgba(195, 39, 43, 0.6);
}
@media only screen and (max-width:840px){
	.listing-item {
   display: block;
width: 48%;
margin: 3px;
	}
	.listing h4 {
   min-height:40px;
}
}
@media only screen and (max-width:540px){
	.listing-item {
   display: block;
width: 100%;
	}
	.listing h4 {
   min-height:40px;
}
}

@media only screen and (min-width:1024px){
	.hover-table-layout{
       
	}
}