<nav class="navbar navbar-default">
   <div class="container-fluid">
      <div class="navbar-minimize">
         <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon hidden-sm hidden-xs">
         <i class="ti-arrow-left"></i>
         </button>
          <ul class="nav navbar-nav navbar-right sva-rate">
            <li>
               <a href="/invest/setting">
               SVA/USD = <span class="rate_sva_usd">0</span>
               </a>
            </li>
            <li>
               <a href="/invest/setting">
               SVA/BTC = <span class="rate_sva_btc"> 0</span>
               </a>
            </li>
            <li>
               <a href="/invest/setting">
               BTC/USD = <span class="rate_btc_usd"> 0</span>
               </a>
            </li>
            
            <li class="separator hidden-lg hidden-md"></li>
         </ul>
      </div>
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>
      <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav navbar-right">
            <li class="social-links-nav">
               <a href="https://www.facebook.com/FutureSmartVirtualAssistant" target="_blank" style=" color: #fff; opacity: 1; ">
              <span class="fa fa-facebook-f"></span> <span class="hidden-md hidden-lg"> Facebook</span>
               </a>
            </li>
             <li class="social-links-nav">
               <a href="https://twitter.com/SmartFVA" target="_blank" style=" color: #fff; opacity: 1; ">
              <span class="fa fa-twitter"></span> <span class="hidden-md hidden-lg"> Twitter</span>
               </a>
            </li>
            <li class="social-links-nav">
               <a href="https://t.me/SVACOINOFFICIAL" target="_blank" style=" color: #fff; opacity: 1; ">
              <span class="fa fa-paper-plane-o"></span> <span class="hidden-md hidden-lg"> Telegram</span>
               </a>
            </li>

            <li class="dropdown social-links-nav" style="display: none;">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  
                  <p class=""><span class="fa fa-paper-plane-o"></span> <span class="hidden-md hidden-lg">Telegram</span><b class="caret"></b> </p>
               </a>
               <ul class="dropdown-menu">
                  <li> <a href="https://t.me/SVACOINOFFICIAL" target="_blank"><span class="fa fa-paper-plane-o"> </span> SVACOIN Chanel</a> </li>
                  <li> <a href="#" target="_blank"><span class="fa fa-paper-plane-o"> </span> Telegram Global</a> </li>
                  <li> <a href="#" target="_blank"><span class="fa fa-paper-plane-o"> </span> Telegram Canada</a> </li>
                  
                  <li> <a href="#" target="_blank"><span class="fa fa-paper-plane-o"> </span> Telegram Korean</a> </li>
                  <li> <a href="#" target="_blank"><span class="fa fa-paper-plane-o"> </span> Telegram Singapore</a> </li>
                
                 
                  <li> <a href="#" target="_blank"><span class="fa fa-paper-plane-o"> </span> Telegram Indian</a> </li>
                 
                  <li> <a href="#" target="_blank"><span class="fa fa-paper-plane-o"> </span> Telegram China</a> </li>
                 <li> <a href="#" target="_blank"><span class="fa fa-paper-plane-o"> </span> Telegram Thailand</a> </li>
                 <li> <a href="#" target="_blank"><span class="fa fa-paper-plane-o"> </span> Telegram VietNam</a> </li>
               </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  
                  <p class=""> {{data.user.username}} <b class="caret"></b> </p>
               </a>
               <ul class="dropdown-menu">
                  <li> <a href="/invest/setting"><i class="ti-settings"></i> Setting</a> </li>
                  <li> <a href="/invest/logout"><i class="ti-power-off"></i>  Logout</a> </li>
               </ul>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
         </ul>
      </div>
    
   </div>
</nav>