
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
    <meta name="description" content=""> 
    <meta property="og:image" content="https://smartfva.co/invest/static/assets/img/logo.png" /> 
    <meta name="author" content="smartfva.co" /> 
    <meta property="og:url" content="https://smartfva.co" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="Smartfva is Digital Cash" /> 
    <meta property="og:description" content="" /> 
    <meta property="og:secure_url" content="https://smartfva.co/invest/static/assets/img/logo.png"> 
    <meta property="og:site_name" content="Smartfva is Digital Cash"> 
    <meta property="og:image" content="https://smartfva.co/invest/static/assets/img/logo.png" /> 
    <meta name="twitter:card" content="summary_large_image" /> 
    <meta name="twitter:site" content="@Smartfva" /> 
    <meta name="twitter:creator" content="@Smartfva" /> 
    <meta name="twitter:title" content="Smartfva is Digital Cash" /> 
    <meta name="twitter:description" content="" /> 
    <meta name="twitter:image" content="https://smartfva.co/invest/static/assets/img/logo.png" /> 
    <meta name='COPYRIGHT' content='&copy; smartfva.co' /> 
    <meta name="robots" content="noodp,index,follow" /> 
    <title>Smartfva - SVA COIN is Digital Cash - Furture Smart Virtual Assistant</title> 

  	
  	<link rel="stylesheet" href="/invest/static/frontend/css/bootstrap.min.css" />
  	<link rel="stylesheet" href="/invest/static/frontend/css/style.css" />
  	<link rel="stylesheet" href="/invest/static/frontend/css/ionicons.min.css" />
  	{% if(data.menu == 'roadmap') %}
	<link rel="stylesheet" href="/invest/static/frontend/plugins/time-line/animate.min.css">
  	<link rel="stylesheet" href="/invest/static/frontend/plugins/time-line/default.min.css">
  	<link rel="stylesheet" href="/invest/static/frontend/plugins/time-line/frst-timeline.css">
	{% endif %}
	<!-- Start Alexa Certify Javascript --> <script type="text/javascript"> _atrk_opts = { atrk_acct:"PmvHq1DlQy20Y8", domain:"smartfva.co",dynamic: true}; (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })(); </script> <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=PmvHq1DlQy20Y8" style="display:none" height="1" width="1" alt="" /></noscript> <!-- End Alexa Certify Javascript --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-110943407-1"></script><script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-110943407-1'); </script> </head>
<body>	
<!-- <div id="loader">
	<div id="animated-loader-spin">		
		<img src="/invest/static/frontend/images/logo-small.svg">
		<div class="loader-spin"></div>
	</div>
</div>	 -->
<div id="stage">
	<header>
		<nav id="menu">
			<div class="page-top-header">
				<div class="container">
					<div class="row">
						<div id="menu-toggle-top" class="col-2">
							<a class="btn-sva-menu-toggle">
								<i class="ion-navicon-round" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
							</a>
						</div>
						<div class="col-lg-10 navbar-nav-fullwidth">
							<ul class="navbar-nav bd-navbar-nav flex-row">
								<li class="nav-item"><a href="/invest/home" class="nav-logo "><img src="/invest/static/frontend/images/logo-small.svg"></a></li>
								<li class="nav-item"><a href="/lending/login" class="nav-link">L-PROJECT</a></li>
								<li class="nav-item"><a href="/invest/ac-investment" class="nav-link">AC-INVESTMENT</a></li>
								<li class="nav-item"><a href="/invest/affiliate" class="nav-link">AFFILIATE</a></li>
								<!-- <li class="nav-item"><a href="/invest/static/whitepaper.pdf" target="_blank" class="nav-link">WHITEPAPER</a></li> -->
								<li class="nav-item"><a href="/invest/roadmap" class="nav-link">ROADMAP</a></li>
								<li class="nav-item"><a href="/invest/news" class="nav-link">NEWS</a></li>
								<li class="nav-item"><a target="_blank" href="https://exchange.smartfva.co" class="nav-link">EXCHANGE</a></li>
							</ul>
						</div>
						<div class="col-lg-2 col-10 text-right">
								<a class="btn btn-sva-primary" href="/invest/login">JOIN AC-INVESTMENT</a>
							</ul>
						</div>
						<div id="bg-close-menu">
						</div>					
					</div>
				</div>
			</div>	
		</nav>
		{% if(data.menu == 'home') %}
		<div id="slide-show">
            <div class="slides-container" style="display: none;">		      
		      <img src="/invest/static/frontend/images/slide-3.jpg" width="1024" height="682" alt="slide-1">
		      <img src="/invest/static/frontend/images/slide-1.jpg" width="1024" height="683" alt="slide-2">
		      <img src="/invest/static/frontend/images/slide-4.jpg" width="1024" height="685" alt="slide-5">
		      <img src="/invest/static/frontend/images/slide-5.jpg" width="1024" height="682" alt="slide-3">
		      
		    </div>
		    <div id="logo-slide">
		    	<img src="/invest/static/frontend/images/logo.svg">
		    	<p class="logo-slide-caption">FUTURE<br>SMART VIRTUAL ASSISTANT</p>
		    </div>
		    <div class="scroll-down"><a><span></span><span></span><span></span></a></div>
		</div>
		{% endif %}
		
			
	</header>